<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý Công việc</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h1>TaskManager</h1>
        </div>
        {% if 'user_id' in session %}
        <nav>
          <ul>
            <li><a href="{{ url_for('index') }}">Trang chủ</a></li>
            <li><a href="{{ url_for('add_task') }}">Tạo công việc</a></li>
            {% if user.is_admin %}
            <li>
              <a href="{{ url_for('manage_categories') }}">Quản lý danh mục</a>
            </li>
            {% endif %}
            <li class="user-profile">
              <a href="{{ url_for('profile') }}">
                <div
                class="avatar"
                style="background-image: url('{% if user.avatar.startswith('http') %}{{ user.avatar }}{% else %}{{ url_for('static', filename='uploads/' + user.avatar) }}{% endif %}')"
              >
                {% if overdue_count and overdue_count > 0 %}
                  <span class="badge">{{ overdue_count }}</span>
                {% endif %}
              </div>
                <span>{{ user.name }}</span>
              </a>
            </li>
            <li><a href="{{ url_for('logout') }}">Đăng xuất</a></li>
          </ul>
        </nav>
        {% endif %}
      </div>
    </header>

    <main>
      <div class="container">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
          <div class="message">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %} {% endwith %} {% block content %}{% endblock %}
      </div>
    </main>

    <footer>
      <div class="container">
        <p>© 2025 Task Manager. All rights reserved.</p>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
